@charset "utf-8";
#sec{
	background-image: url("images/Wallmax-14.png");
	
	
}
.page-link{background-color: transparent;}
#fourthsec{background-image: url("images/Rectangle.png");}

/*footer{background-image: url("images/Group (2).png")}*/
#viewall{float:right;}